div.typeHeader
  div.namespace="namespace " + fullName.substr(0,fullName.lastIndexOf('.'))
  span.modifiers=accessModifier + " " + typeKind.toLowerCase() 
  span.typeName=name
  if (locals.father)
    span.father=father