if locals.constructors && constructors.length > 0
  table
    tr
      th Constructors
    each item in constructors
      tr
        td
          a(href="#")
            span.propertyName=item.name
        td!=item.summary