if locals.constants && constants.length > 0
  table
    tr
      th(colspan='2') Constants
    each item in constants
      tr
        td
          span
           item.type
        td
          span.itemName
           a(href="#")=item.name
          div.itemSummary!=item.summary