if locals.constants && constants.length > 0
  table
    tr
      th(colspan='2') Constants
    each item in constants
      tr
        td
          span
           item.type= item.memberType.displayName
        td
          span.itemName
           span.modifier= item.accessModifier + " "
           a(href="#"+item.id)=item.name
          div.itemSummary!=item.summary