if locals.constants && constants.length > 0
  table
    tr
      th Constants
    each item in constants
      tr
        td
          a(href="#")
            span.propertyName=item.name
        td!=item.summary