if locals.events && events.length > 0
  div.referenceTitle events
  each item in events
    div.itemDetails(id=item.id)
      div.itemDetailsTitle= item.accessModifier + " " + item.name
      div.itemDetailsDescription!=item.summary
        include supportedProjects