if methods.length > 0
  h2 Methods
  table
    each item in methods
      tr
        td
          a(href="#")
            span.methodName=item.name
            if (item.typeArguments.length > 0)
              span &lt;
              each arg, i in item.typeArguments
                if i > 0
                  span , 
                span=arg.name
              span &gt;
            span (
            if (item.parameters.length > 0)
              each param, i in item.parameters
                if i > 0
                  span , 
                span=param.type.displayName
            span )
        td!=item.summary