if locals.properties && properties.length > 0
  div.referenceTitle Properties
  each item in properties
    div.itemDetails
      div.itemDetailsTitle=item.name
      div.itemDetailsDescription!=item.summary