if(supportedProjects.length != item.supportedProjects.length)
  div.supportedProjects
    div.projectTitle="Supported only in:"
    ul
      each itemSupportedProject in item.supportedProjects
        li.projectName=itemSupportedProject