extends sidebarLayout

block contentBody
  .header
    h1= name + " Class"
  #doc
    include includes/classHeader
    include includes/overview
    div.referenceTitle Summary
    include includes/constantsSummary
    include includes/constructorsSummary
    include includes/propertiesSummary
    include includes/methodSummary
    include includes/constants
    include includes/constructors
    include includes/properties
    include includes/methods